body {
	margin: auto;
	background: #efefef;
	font-family: 'Monda', sans-serif;
}

.nav_bar {
	margin: auto;
	border-bottom: 1px solid #000000;
	width: 860px;
	padding: 0px 20px 0px 20px;
	height: 100px;
	margin-top: 40px;
}

.nav_bar ul {
	padding: 0;
	list-style: none;
}

.nav_bar ul li {
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin-right: 10px;
}

.nav_bar ul li a {
	text-decoration: none;
	color: #000000;
	background-color: #1E90FF;
	border: 1px solid #000000;
	border-bottom: none;
	padding: 20px 20px 20px 20px;
	-webkit-border-radius: 10px;
	text-align: center;
}

.nav_bar ul li a:hover {
	text-decoration: none;
	color: #000000;
	background-color: #00BFFF;
	
}

.romlist {
	text-align: center;
}

.romlist p {
	font-family: 'Monda', sans-serif;
	font-size: 34;
	font-weight: bold;
	color: black;
}

.romlist h1 {
	font-family: 'Monda', sans-serif;
	font-size: 24;
	font-weight: bold;
	color: black;
}